:root {
    --clr-mahogany: #42313A;
    --clr-chestnut: #6C2D2C;
    --clr-leather: #9F4636;
    --clr-parchment: #F1DCC9;
    --header-line-ht: 100px;
}

body,
html {
    margin: 0;
    font-family: 'Playfair Display', serif;
    background-color: var(--clr-parchment);
    background-image: url("https://noahsw.xyz/assets/background/light-grey-floral-motif.png");
    position: relative;
    z-index: -999;
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
}

.flex_center_spacer {
    margin: auto;
}

.block_link {
    display: block;
}

.code {
    font-size: .9em;
    font-family: 'Inconsolata', monospace;
    background-color: #DAC6B2;
    padding: 2px;
    margin-bottom: 5px;
}

/* ===== HEADER & FOOTER ===== */
header,
footer {
    background-color: var(--clr-chestnut);
    color: var(--clr-parchment);
    margin: 10px 0;
    box-shadow: 0 0 7px black;
    position: relative;
    z-index: 1;
}
.header_footer_wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
@media (max-width: 515px) {
    .header_footer_wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    :root {
        --header-line-ht: 70px;
    }
}
header a,
footer a {
    text-decoration: none;
    color: var(--clr-parchment);
}
header h2 {
    line-height: var(--header-line-ht);
}
header ul {
    list-style: none;
    padding: 0;
    height: 100%;
}
header ul li {
    display: inline-flex;
    height: 100%;
}
header ul li a {
    padding: 0 15px;
    margin: 0;
    width: 4em;
    text-align: center;
    /* margin: auto 0; */
    /* height: 100%; */
    line-height: var(--header-line-ht);
}
header ul li a:hover {
    background-color: #5b2625;
    transition: all 250ms ease-out;
}
footer ul {
    list-style: "-  ";
}
.rightfooter,
.leftfooter {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.rightfooter > * {
    margin-left: auto;
}
.leftfooter > * {
    margin-right: auto;
}
@media (max-width: 515px) {
    footer .header_footer_wrapper {
        flex-direction: column-reverse;
    }
    .rightfooter,
    .leftfooter {
        margin: 10px 0;
    }
    .rightfooter > *,
    .leftfooter > *{
        margin: auto;
    }
}

/* ====== MAIN ARTICLES ===== */
main {
    width: 90%;
    max-width: 750px;
    margin: auto;
}
main article {
    margin: 10px 0;
    background-color: var(--clr-parchment);
    position: relative;
    border-top: var(--clr-mahogany) solid 7px;
}
main article::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0 0 100px -25px black;
}
main article .article_content {
    padding: 12.5px 22px 15px 22px;
}
main article p {
    text-indent: 20px;
    text-align: justify;
    margin: 15px 0;
}
@media (max-width: 515px) {
    main article p {
        hyphens: auto;
    }
}
/* = FIGURES = */
figure {
    display: block;
    margin: 0;
    padding: 20px;
}
figcaption {
    font-style: italic;
    font-size: small;
    text-align: center;
}
.fig_align_right {
    float: right;
}
.fig_align_left {
    float: left;
}
@media (max-width: 515px) {
    figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 10px; */
    }
    .fig_align_right {
        float: none;
    }
    .fig_align_left {
        float: none;
    }
}
#sample_img {
    width: 150px;
}
#another_sample_img {
    width: 250px;
}

/* ===== CONTACT FORM ===== */
.contact_form {
    margin: 0 10px;
    max-width: 100%;
}
.contact_form_element {
    display: block;
    margin: 5px 0;
    border: 0;
    padding: 0;
}
.contact_form_input {
    background-color: #DAC6B2;
    border-bottom: 2px solid var(--clr-mahogany);
    font-family: 'Open Sans', sans-serif;
    font-size: smaller;
    padding: 6px;
    width: 40%;
}
.contact_form_input:focus {
    scale: 101%;
}
#contact_form_message {
    width: calc(60% - 12px);
}
#contact_form_submit {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--clr-chestnut);
    padding: 5px;
    color: var(--clr-parchment);
    width: 60%;
}
#contact_form_submit:hover {
    background-color: #5b2625;
    transition: all 250ms ease-out;
}
@media (max-width: 515px) {
    .contact_form_element {
        width: calc(100% - 12px) !important;
    }
    #contact_form_submit {
        width: 100% !important;
    }
}
